<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
</head>
<body>
<div class="addMovie">
  <form action="/admin/" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Input movie name">
    <textarea name="description" placeholder="input movie description" rows="4" cols="50"></textarea>
    <input type="file" name="image" placeholder="choose image">
    <input type="text" name="movie_country" placeholder="input movie country">
    <input type="date" name="primere">
    <input type="number" min="0" max="100000" name="total_movierate">
    <input type="number" min="0" max="100000" name="vieweing">
    <input type="date" name="year_of_idssue">
<!--    <select name="genre" id="">-->
<!--      <option th:each="genre: ${genres}" th:text="${genre.name}"></option>-->
<!--    </select>-->
    <input type="submit" value="addMovie">
  </form>

</div>

</body>
</html>