<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="https://www.thymeleaf.org">

<!-- userfavoritegrid13:40-->
<head>
    <!-- Basic need -->
    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<!--<th:block th:insert="/fragments/fragment::loginpop"></th:block>-->
<!--&lt;!&ndash;end of login form popup&ndash;&gt;-->
<!--&lt;!&ndash;signup form popup&ndash;&gt;-->
<!--<th:block th:insert="/fragments/fragment::singnuppop"></th:block>-->
<!--&lt;!&ndash;end of signup form popup&ndash;&gt;-->

<!--&lt;!&ndash; BEGIN | Header &ndash;&gt;-->
<th:block th:insert="/fragments/fragment::header"></th:block>
<!-- END | Header -->

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Edward kennedy’s profile</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li><span class="ion-ios-arrow-right"></span>Favorite movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top: 200px;">
                <div class="user-information" th:each="userShortBio: ${userFavoriteList}">
                    <div class="user-img">
                        <li th:if="${userShortBio.user.gender.name() == 'MALE'}">
                            <img src="/images/man.png" alt="man image">

                        </li>
                        <li th:if="${userShortBio.user.gender.name() == 'FEMALE'}">
                            <img src="/images/woman.png" alt="woman image">
                        </li>
                    </div>
                    <div class="user-fav">
                        <ul>
                            <span>Name - <span th:text="${userShortBio.user.name}"></span></span><br>
                            <span>Surname - <span th:text="${userShortBio.user.surname}"></span><br>
                            <span>From - <span th:text="${userShortBio.user.coutry}"></span></span><br>
                            <span>Age - <span th:text="${userShortBio.user.age}"></span></span>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter user">
                    <p>Found <span>1,608 movies</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="range">-- Choose option --</option>
                        <option value="saab">-- Choose option 2--</option>
                    </select>
                    <a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="userfavoritegrid.html" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist grid-fav">
                    <div class="movie-item-style-2 movie-item-style-1 style-3" th:each="favorite: ${userFavoriteList}">
                        <img th:src="@{/movie/getImage(fileImage=${favorite.movie.filmPic})}">
                        <div class="hvr-inner">
                            <a th:href="@{/moviesingle/{id}(id=${favorite.movie.id})}"> Watch <i class="ion-android-arrow-dropright"></i> </a>
                        </div>
                        <div class="mv-item-infor">
                            <h6 th:text="${favorite.movie.name}" style="color: white"></h6>
                            <p class="rate"><i class="ion-android-star"></i><span th:text="${favorite.movie.totalMovierate}"></span> /10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section-->
<th:block th:insert="/fragments/fragment::footer"></th:block>
<!-- end of footer section-->

<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/plugins2.js"></script>
<script src="/js/custom.js"></script>
</body>

<!-- userfavoritegrid13:49-->
</html>