<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" xmlns:th="https://www.thymeleaf.org">

<!-- userprofile14:04-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>

<!-- BEGIN | Header -->
<th:block th:insert="/fragments/fragment::header"></th:block>
<!-- END | Header -->
<div class="hero user-hero" th:each="userBio: ${currentUserBio}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 th:text="${userBio.name}"></h1> <h1 th:text="${userBio.surname}"></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" >
					<form action="/user/profile/update" method="post" class="user">
						<h4>Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Name</label>
								<input type="text" name="name" th:placeholder="${currentUserBio.name}">
							</div>
							<div class="col-md-6 form-it">
								<label>Surname</label>
								<input type="text" name="surname" th:placeholder="${currentUserBio.surname}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Country</label>
								<select>
								  <option th:each="country: ${countryList}" th:value="${country.name()}" th:text="${country.name()}"></option>
								</select>
							</div>
							<div class="col-md-6 form-it">
								<label>Gender</label>
								<select>
								  <option th:each="gender: ${genderList}" th:value="${gender.name()}" th:text="${gender.name()}"></option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer section-->
<th:block th:insert="/fragments/fragment::footer"></th:block>
<!-- end of footer section-->

<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/plugins2.js"></script>
<script src="/js/custom.js"></script>
</body>

<!-- userprofile14:04-->
</html>